//COLORS

$color-black: #000;
$color-white: #fff;
$color-page-background: #f3f3f3;
$color-font: #444;
$color-placeholder: #888;
$color-green: #66c873;
$color-red: #f5465d;

//FONT SIZE

$default-font-size: 1.6rem;

//GRADIENTS

$gradient-green: linear-gradient(135deg,#9be15d,#39b385);
$gradient-red: linear-gradient(135deg,#ff585f,#e52a5a);
$gradient-yellow: linear-gradient(135deg,#ffcb03,#ffb003);